@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@font-face {
    font-family: "Gesya Monogram";
    src: url("/css/Gesya Monogram.otf");
}
  

body {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 70rem;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #282828;
        color: #ebdbb2;
    }
}

body {
    background-color: #f0eeed;
    color: #000;
}

* {
    font-family: 'Lora', serif;
}

ul>li {
    list-style: "✦ ";   
}

ul li ul li {
    list-style: "✧ ";   
}

/*makes sense on a long article*/
#TableOfContents + p:first-letter {
    color: rgb(154, 132, 167);
    font-family:"Gesya Monogram";
    font-size: 4.6875em;
/*    line-height: 3.75em;    */
    padding-top: .25em;
   /* padding-right: .5em;
    padding-left: 0.1875em;*/
  
    /*
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    */
}
/*
article {
    padding-left: 1em;
    padding-right: 1em;
}

article {
    width: 45rem;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;
}*/

article a[href$=".pdf"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/pdf.svg');
            mask-image: url('/css/pdf.svg');

    background-color: red;
}
article a[href$=".pdf"]:visited::after {
    background-color: red;
}

article a[href*="wikipedia.org/wiki/"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/wikipedia.svg');
            mask-image: url('/css/wikipedia.svg');

    background-color: red;
}
article a[href*="wikipedia.org/wiki/"]:visited::after {
    background-color: red
}

article a[href*="github.com"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/github.svg');
            mask-image: url('/css/github.svg');

    background-color: red;
}

article a[href*="github.com"]:visited::after {
    background-color: red;
}

.littlefoot {
    --button-active-background-color: #2f2d26 !important;
    --button-text-color: #fff !important;
  }
  