:root {
    --main-bg-color: #fff;
    --header-color: #61342d;
    --main-body-color :#211425;
    --link-color: #5d5cd2;
    --footnote-color: #3b5fa6;
    --dropcap: #934788;
}

@media (prefers-color-scheme: dark) !important{
    :root {
        --main-bg-color: black;
        --main-body-color: white;
	--header-color: yellow;
        --footnote-color: blue;
        --link-color: lightgreen;
        --link-icon-color: pink;
        --dropcap-color: darkorange;
    }
}

body {
    background-color: var(--main-bg-color);
    max-width: 660px;
    margin: 22px auto 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Georgia, Palatino, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 28px;
}

article header {
    margin-left: 2rem;
    line-height: 1.2;
}

/* Numbering suffix in TOC */
.toc-section-number:after{
    content: ". "
}
/* Numbering suffix in Body/Content */
.header-section-number:after{
    content: ". "
}

header {
    padding-bottom: 0.5rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--main-body-color);
}

#TableOfContents + p:first-letter {
    color: var(--dropcap);
    font-family:"Gesya Monogram";
    font-size: 4.6875em;
    padding-top: .25em;
}

h1, h2, h3, h4 {
    color: var(--header-color);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}

a[href$=".pdf"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/pdf.svg');
            mask-image: url('/css/pdf.svg');

    background-color: red;
}
a[href$=".pdf"]:visited::after {
    background-color: red;
}

a[href*="wikipedia.org/wiki/"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/wikipedia.svg');
            mask-image: url('/css/wikipedia.svg');

    background-color: red;
}

a[href*="wikipedia.org/wiki/"]:visited::after {
    background-color: red
}

a[href*="github.com"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/github.svg');
            mask-image: url('/css/github.svg');

    background-color: red;
}

a[href*="github.com"]:visited::after {
    background-color: red;
}

ul>li {
    list-style: "✦ ";   
}

ul li ul li {
    list-style: "✧ ";   
}
